.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/*.map
**/*.ts
.env
.env.*
*.env
node_modules/**
bun.lock
biome.json
PRE_PUBLISH_CHECKLIST.md
PUBLISHING.md
*.vsix
.git/**
.gitignore
.eslintrc.json

